// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GLOBAL STYLES

body {
  padding: 15px 0px;
  color: white;
  background-color: #222222;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

.App {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  line-height: 125%;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

// STYLES FOR SEARCHBAR

#submit-btn {
  width: 80%;
  padding: 10px 20px;
  font-size: 35px;
  border: none;
  background-color: #2e86de;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
  &:active {
    background-color: #0652dd;
  }
}

input {
  width: 80%;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}

.searchBar {
  text-align: center;
}

// STYLES FOR THE INFO/DISCLAIMER SECTION

#discl-div {
  position: relative;
  padding: 20px 0px;

  p {
    margin: 10px auto;
  }
}

#discl-btn {
  position: absolute;
  bottom: 10px;
  right: 30px;
  cursor: pointer;
  font-size: 40px;
  z-index: 20;
}

#discl-text {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba($color: black, $alpha: 0.9);
  border-radius: 10px;
  padding: 40px 10px;
  z-index: 19;
}

.showInfo {
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: scale(1);
  opacity: 1;
}

.hideInfo {
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: scale(0);
  opacity: 0;
}

// STYLES FOR ANIMATED EMOJIS

.spin {
  transform: rotate(360deg) perspective(0);
}

span.spin {
  animation-name: spin-animation;
  animation-duration: 1s;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.skull {
  animation-name: skull-animation;
  animation-duration: 1s;
  display: inline-block;
}

.flipH {
  display: inline-block;
  transform: scale(-1, 1);
}

@keyframes skull-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// STYLES FOR SEARCH RESULTS

#resultsContainer {
  margin: 0 auto;
  min-height: 350px;
  position: relative;
  width: 90%;
  img {
    width: 95%;
    max-width: 400px;
    margin: 40px auto;
    display: block;
  }
  span {
    font-size: 35px;
    position: absolute;
    text-shadow: 1px 1px 3px #000000;
  }
  #name {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    margin-bottom: -45px;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000000;
  }
  #resultsInfo {
    width: 100%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    left: 50%;
    bottom: -50px;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 9;
    text-shadow: 2px 2px 4px #000000;
    margin: 50px auto;
  }
  #easterEgg {
    width: 100%;
    font-size: 25px;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 9;
  }
}

@media only screen and (max-width: 500px) {
  header {
    position: relative;
  }

  #h1Emoji1 {
    position: absolute;
    top: 50px;
    left: 35%;
  }

  #h1Emoji2 {
    position: absolute;
    top: 50px;
    right: 35%;
  }
  #resultsContainer {
    #name {
      font-size: 35px;
    }
    #resultsInfo {
      font-size: 41px;
    }
    #easterEgg {
      font-size: 18px;
    }
  }
  h1 {
    font-size: 10vw;
    margin-bottom: 55px;
  }

  p {
    text-align: center;
    font-size: 26px;
  }

  #discl-text > p {
    font-size: 18px;
    text-align: left;
  }
}
