// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GLOBAL STYLES

body {
  color: white;
  background-color: #222222;
  font-family: Helvetica, sans-serif;
}

.App {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 850px;
  margin: 0 auto;
  padding: 20px 0px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  line-height: 125%;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

// STYLES FOR SEARCHBAR

#submit-btn {
  width: 80%;
  padding: 10px 20px;
  font-size: 35px;
  border: none;
  background-color: #2e86de;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
  &:active {
    background-color: #0652dd;
  }
}

input {
  width: 80%;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}

.searchBar {
  text-align: center;
}

#error {
  color: red;
  font-size: 23px;
  font-weight: bold;
}

// STYLES FOR THE INFO/DISCLAIMER SECTION

#discl-div {
  padding: 20px 0px;

  p {
    font-size: 24px;
    margin: 20px auto;

    a {
      font-size: 16px;
      color: white;
      padding: 10px 20px;
      margin-top: 10px;
      display: block;
      background-color: #2e86de;
      border-radius: 10px;
      width: fit-content;
    }
  }
}

#discl-btn {
  position: absolute;
  bottom: 10px;
  right: 30px;
  cursor: pointer;
  font-size: 40px;
  z-index: 10;
}

.onBtn {
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: rotate(360deg);
}

.offBtn {
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: rotate(-360deg);
}

#discl-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba($color: black, $alpha: 0.9);
  border-radius: 10px;
  padding: 40px 10px;
  z-index: 9;
}

.showInfo {
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: scale(1);
  opacity: 1;
}

.hideInfo {
  transition: opacity 0.6s, transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.4, 0.01, 1.37);
  transform: scale(0);
  opacity: 0;
}

// STYLES FOR ANIMATED EMOJIS

.spin {
  transform: rotate(360deg) perspective(0);
}

span.spin {
  animation-name: spin-animation;
  animation-duration: 1s;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.skull {
  animation-name: skull-animation;
  animation-duration: 1s;
  display: inline-block;
}

.flipH {
  display: inline-block;
  transform: scale(-1, 1);
}

@keyframes skull-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// STYLES FOR SEARCH RESULTS

.results {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: rgba($color: #111111, $alpha: 0.95);
  z-index: 19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
#resultsContainer {
  margin: 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #imgCanvas {
    position: relative;
    min-height: 375px;

    img {
      width: 85%;
      max-width: 450px;
      margin: 0 auto;
      display: block;
    }
    span {
      font-size: 50px;
      position: absolute;
      text-shadow: 1px 1px 3px #000000;
    }

    #resultsInfo {
      width: 100%;
      text-align: center;
      position: absolute;
      font-family: "Permanent Marker", cursive;
      left: 50%;
      bottom: 3%;
      text-decoration: underline;
      text-transform: uppercase;
      z-index: 9;
      text-shadow: 2px 2px 4px #000000;
    }

    #easterEgg {
      width: 100%;
      font-size: 25px;
      position: absolute;
      font-family: "Permanent Marker", cursive;
      text-decoration: underline;
      text-transform: uppercase;
      z-index: 9;
    }
  }

  #close-btn {
    position: absolute;
    font-size: 26px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  #socialBtns {
    width: 100%;
    margin: 0 auto;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;

    a {
      padding: 15px 20px;
      font-size: 25px;
      color: white;
      text-decoration: none;
      text-align: center;
      border-radius: 10px;
      border: 3px solid white;
    }
    .tweetBtn {
      background-color: #00acee;
    }
    .fbBtn {
      background-color: #3b5998;
    }
  }

  #name {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 500px) {
  header {
    position: relative;
  }

  #h1Emoji1 {
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 2%;
  }

  #h1Emoji2 {
    position: absolute;
    font-size: 50px;
    top: 0px;
    right: 2%;
  }
  #resultsContainer {
    #name {
      font-size: 35px;
    }
    #resultsInfo {
      font-size: 41px;
    }
    #easterEgg {
      font-size: 18px;
    }
  }
  h1 {
    font-size: 15vw;
    line-height: 1;
  }

  p {
    font-size: 26px;
  }

  #discl-text > p {
    font-size: 18px;
    text-align: left;
  }
}
